In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/gusgoodman/Documents/V89/rml_csv/00000995.csv")

In [7]:
df

,patient_id,event_id,family,type,start_sec,duration_sec,end_sec,segment_index,segment_local_start_sec,recording_start_iso
0,995,0,User,Gain,0.0,0.0,0.0,0,0.0,2019-04-17T22:35:00
1,995,1,User,ChannelFail,0.0,1410.0,1410.0,0,0.0,2019-04-17T22:35:00
2,995,2,User,ChannelFail,0.0,6.0,6.0,0,0.0,2019-04-17T22:35:00
3,995,3,User,ChannelFail,60.0,450.0,510.0,0,60.0,2019-04-17T22:35:00
4,995,4,User,Gain,129.0,0.0,129.0,0,129.0,2019-04-17T22:35:00
...,...,...,...,...,...,...,...,...,...,...
1095,995,1095,Respiratory,Hypopnea,17820.5,11.5,17832.0,4,3420.5,2019-04-17T22:35:00
1096,995,1096,Cardiac,PttDrop,17837.0,13.0,17850.0,4,3437.0,2019-04-17T22:35:00
1097,995,1097,User,Gain,17839.0,0.0,17839.0,4,3439.0,2019-04-17T22:35:00
1098,995,1098,Neuro,Arousal,17842.5,4.5,17847.0,4,3442.5,2019-04-17T22:35:00
1099,995,1099,Respiratory,Hypopnea,17855.0,12.0,17867.0,4,3455.0,2019-04-17T22:35:00